<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<div class="container text-center">
<h1>Password Generator</h1>
<form  action="{% url 'password' %}" method="get">
  <select name="length">
<option value="5">5 chars long</option>
  <option value="6">6 chars long</option>
    <option value="7">7 chars long</option>
      <option value="8">8 chars long</option>
      <option value="9">9 chars long</option>
        <option value="10">10 chars long</option>
          <option value="11">11 chars long</option>
            <option value="12" selected="selected">12 chars long</option>
            <option value="13">13 chars long</option>
              <option value="14">14 chars long</option>
                <option value="15">15 chars long</option>
                  <option value="16">16 chars long</option>
  </select> Length
<br>
  <input type="checkbox" name="uppercase"> Uppercase
  <br>
  <input type="checkbox" name="number"> Number
  <br>
  <input type="checkbox" name="special"> Special Characters
  <br>



  <input type="submit" value="Generate Password" class="btn  btn-primary">
</form>
</br>
</br>
</br>
</br>
</div>
<a href="{% url 'about' %}" class="btn">About Page</a>
